@page
@model Exercise3.Pages.Recipes.DeleteModel
@{
}
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
<div>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Ingredients</th>
            <th>Instructions</th>
            <th>Categories</th>
        </tr>
            <tr>
                <td>@Model.FetchedRecipe.Title</td>
                <td>@foreach(var ingredient in Model.DetailedIngredients)
                {
                    @ingredient<br>
                }
                </td>
                <td>
                @foreach(var instruction in Model.DetailedInstructions)
                {
                    @instruction<br>
                }
                </td>
                <td>
                @foreach(var category in Model.DetailedCategories)
                {
                    @category<br>
                }
                </td>              
            </tr>
    </table>
    
</div>
    
    <form method="post">
        <input type="hidden" asp-for="FetchedRecipe.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>