@page
@model Exercise_3.Pages.Recipes.DetailModel
@{
}
<div>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Ingredients</th>
            <th>Instructions</th>
            <th>Categories</th>
        </tr>
            <tr>
                <td>@Model.FetchedRecipe.Title</td>
                <td>@foreach(var ingredient in Model.DetailedIngredients)
                {
                    @ingredient<br>
                }
                </td>
                <td>
                @foreach(var instruction in Model.DetailedInstructions)
                {
                    @instruction<br>
                }
                </td>
                <td>
                @foreach(var category in Model.DetailedCategories)
                {
                    @category<br>
                }
                </td>              
            </tr>
    </table>
    <a asp-page="../Index" class="btn btn-primary">All Recipes</a>
</div>