@page
@model Exercise3.Pages.Categories.CreateModel
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" min="5"/>
                <span  asp-asp-validation-for="Category" class="text-danger" ></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="RecipesIndex">Back to Recipes</a>
</div>