@page
@model Exercise3.Pages.Categories.DeleteModel
@{
    ViewData["Title"] = "Delete";
}
<div class="card border-primary mb-3" style="max-width: 520px;margin: auto; margin-block:40px; background: white">
    <div class="card-header">Are you sure you want to delete @Model.Category ?</div>
    <div class="card-body">
        <form method="post" id="deleteForm">
            <input type="hidden" asp-for="Category" />
            <button type="button" class="btn btn-danger" onclick="confirmDelete()">Delete</button>
            <button type="button" class="btn btn-secondary">Back</button>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
function confirmDelete() {
    Swal.fire({
                icon: 'success',
                title: 'Category Deleted',
                showConfirmButton: false,
                timer: 1500
                }).then((result) => {
            document.getElementById("deleteForm").submit();
        });
}
</script>