@page "{title}"
@model Exercise3.Pages.Categories.EditModel
@{
    ViewData["Title"] = "Edit";
}

<div class="card border-primary mb-3" style="max-width: 520px;margin: auto; margin-block:40px; background: white">
    <div class="card-header">What will the new category title of "@Model.Category" be?</div>
    <div class="card-body">
        <form id="editForm" method="post" style="text-align: center;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Category" type="hidden" />
                <input asp-for="NewCategory" type="text" id="recipeTitle" class="form-control" minlength="3" />
                <label for="newCategoryInput" asp-for="NewCategory"></label>
                <span asp-validation-for="NewCategory" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <button type="button" class="btn btn-danger" onclick="confirmEdit()">Update</button>
                <button type="button" class="btn btn-secondary" onclick="window.history.back()">Back</button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
    function confirmEdit() {
        Swal.fire({
            icon: 'success',
            title: 'Category Updated',
            showConfirmButton: false,
            timer: 1500
        }).then((result) => {
            document.getElementById("editForm").submit();
        });
    }
</script>