@page
@model Exercise3.Pages.Categories.IndexModel
@{
    ViewData["Title"] = "IndexCategories";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<h1 class="text-center my-4" style="color:white">Categories</h1>
<div class="row row-cols-auto justify-content-center g-4">
    @foreach (var category in Model.Categories)
    {
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        <a style="text-decoration:none;" asp-page="../Recipes/Index" asp-route-category="@category">
                            @category
                            </a>
                        </h5>
                    <div class="btn-group">
                        <a class="btn btn-primary" asp-page="Edit" 
                        asp-route-title="@category">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a class="btn btn-danger" asp-page="Delete" 
                        asp-route-title="@category">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>