@page
@model Exercise3.Pages.Recipes.IndexModel
@{
    ViewData["Title"] = "Index";
}
<h1 class="text-center my-4" style="color:white">Recipes</h1>
<div class="row row-cols-auto justify-content-center g-4">
    @foreach (var recipe in Model.Recipes)
    {
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">@recipe.Title</h5>
                    <div class="btn-group">
                        <a class="btn btn-primary" asp-page="Detail"
                       asp-route-id="@recipe.Id">
                            <i class="bi bi-zoom-in"></i>
                        </a>
                        <a class="btn btn-secondary" asp-page="Edit"
                       asp-route-id="@recipe.Id">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a class="btn btn-danger" asp-page="Delete"
                       asp-route-id="@recipe.Id">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

